<li class="notes__item">
    <div class="note__delete-btn"><span></span></div>
    <div class="note__item-wrapper">
        <a href="{{url}}" class="note__link">
            <h3 class="note__title">{{title}}</h3>

            <img class="note__image" src="{{img}}" alt="{{title}}">
        </a>
        <div class="note-desc-wrapper">
            <a href="{{url}}" class="note__link-title">{{url}}</a>
            <p class="note__desc">{{desc}}</p>
        </div>
    </div>
</li>